* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.center {
    padding-left: calc(50% - 648px);
    padding-right: calc(50% - 648px);
}

a {
    text-decoration: none;
}

.top {

    &__header {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__menu {
        display: flex;
        gap: 24px;

        &_links {
            display: flex;
            align-items: center;
            gap: 32px;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
        }

        &_link {
            color: #666666;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__order {
        margin-left: 56px;
        height: 40px;
        width: 204px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #FBFBFB;
        background: #0B457F;
        border-radius: 12px;
        transition: all 0.4s;
        border: none;
    
        &:hover {
            background: #006CD8;
        }
    }

    &__menu-laptop {
        display: none;
    }

    &__data {
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    &__map-navigator {
        display: flex;
        align-items: center;
        gap: 32px;

        &_link {
            color: #666666;
        }
    }

    &__map {
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__navigator {
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 8px;

        &_text {
            color: #666666;
        }
    }
}

.line {
    border-top: 0.5px solid #CECECE;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    height: 42px;
    width: 100%;
}

.main {

    &__title {
        margin-top: 56px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #3E3E3E;
    }

    &__product-box {
        margin-top: 30px;
        display: flex;
        gap: 12px;
        color: #FFFFFF;
        height: 100%;
    }

    &__product-content {
        height: 512px;
        width: 424px;
        box-sizing: border-box;
        padding: 32px;

        &_block {
            height: 250px;
            width: 424px;
            box-sizing: border-box;
            padding: 32px;
        }

        &_style {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 12px;
        }

        &_1 {
            background-image: url(img/background-left.jpg);
        }

        &_2 {
            background-image: url(img/background-up.jpg);
        }

        &_3 {
            background-image: url(img/background-down.jpg);
        }

        &_4 {
            background-image: url(img/background-right.jpg);
        }

        &_laptop {
            display: none;
        }
    }

    &__product-content-duo {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__table {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding-top: 12px;
    }

    &__button {
        margin-top: 32px;
        height: 45px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        border-radius: 8px;
        transition: all 0.4s;
        background: none;
        border: 1px solid #FFFFFF;
        padding: 14px 28px 14px 28px;
    
        &:hover {
            background: #BFBFBF;
        }
    }
}

@import 'laptop';